<div class="container">

<div class="row">
  <div class=" col-sm-6 col-md-4 ">

    <div class="wall" >

      <form ng-submit="updatePassword(changePasswordForm)" role="form" ng-init="changePasswordForm = {}" class="form">
        <h1 >Change Password</h1>

        <div class="form-group">
          <input placeholder="Current password" type="password" name="current_password" ng-model="changePasswordForm.current_password"
                 required="required" class="form-control">
        </div>
        <div class="form-group">
          <input placeholder="New password" type="password" name="new_password" ng-model="changePasswordForm.new_password"
                 required="required" class="form-control">
        </div>

        <div class="form-group">
          <input placeholder="Confirm password" type="password" name="new_password_confirmation"
                 ng-model="changePasswordForm.password_confirmation" required="required" class="form-control">
        </div>

        <button type="submit" class="btn btn-lg btn-primary btn-block">Change</button>
      </form>

      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        New password and new password confirmation must be identical
      </div>

    </div>
  </div>
  <div class="col-sm-6 col-md-4 ">
    <div class="wall">
      <form ng-submit="updateAccount(updateAccountForm)" role="form" ng-init="updateAccountForm = {zodiac_sign: null}"
            class="form ">

        <h1 >Update Account Information</h1>
        <div class="form-group">

          <input placeholder="First Name" type="text" name="text" ng-model="updateAccountForm.name"
                 class="form-control">
        </div>
        <div class="form-group">

          <input placeholder="Last Name" type="text" name="text" ng-model="updateAccountForm.lastname"
                 class="form-control">
        </div>
        <div class="form-group">

          <input placeholder="Username" type="text" name="text" ng-model="updateAccountForm.username"
                 class="form-control">
        </div>
        <div class="form-group">

          <input placeholder="Email" type="text" name="text" ng-model="updateAccountForm.email"
                 class="form-control">
        </div>

        <button type="submit" class="btn btn-lg btn-primary btn-block">Update</button>
      </form>
    </div>
  </div>
  <div class="col-sm-6 col-md-4 ">
    <div class="wall ">
      <form class="form ">
        <h1 >Close Account</h1>
        <button ng-click="destroyAccount()" class="btn btn-lg btn-primary btn-block">
          Close
        </button>
      </form>
    </div>
  </div>

</div>
</div>
