  <div class="row">
    <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">

      <div class="wall">
        <h1 class="text-center login-title">Log in</h1>

        <img class="profile-img"
             src="../../../assets/avatar.png"
             alt="">

        <form ng-submit="submitLogin(loginForm)" role="form" ng-init="loginForm = {}" class="form">
          <div class="form-group">

            <input placeholder="Username" type="input" name="username" ng-model="loginForm.username" required="required" class="form-control"/>
          </div>

          <div class="form-group">
            <input placeholder="Password" type="password" name="password" ng-model="loginForm.password" required="required"
                   class="form-control"/>
          </div>


          <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>

          <a href="reset" class="pull-left need-help">Need help? </a>
          <span class="clearfix"></span>
        </form>
      </div>
      <a href="signup" class="text-center new-account">Create an account </a>
    </div>
  </div>

