body {
  padding-bottom: 40px;
  background-color: #cccccc !important;
}
.string-shortener {
  font-size: 30px;
  color: blue;
}

.fill {
  width: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  display: block;
}


.form
{
  max-width: 330px;
  padding: 20px 15px 20px 15px;
  margin: 0 auto;
}
.form.settings
{

  margin: 0 ;
}
.form .form-heading, .form .checkbox
{
  margin-bottom: 10px;
}
.form .checkbox
{
  font-weight: normal;
}
.form .form-control
{
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form .form-control:focus
{
  z-index: 2;
}
.form input[type="text"]
{
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form input[type="password"]
{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.wall
{
  padding: 0px;
  background-color: #f7f7f7;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  margin-top: 50px;
}
.login-title
{
  font-size: 18px;
  font-weight: 400;
  display: block;
  padding-top: 20px;
}
.form h1{

  font-size: 18px;
  font-weight: 400;
  display: block;
  margin: 0 0 20px 0;
}
.profile-img
{
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.need-help
{
  margin-top: 10px;
}
.new-account
{
  display: block;
  margin-top: 10px;
}
.row{
  margin-top: 20px;
}



  .img-responsive {
    height: 100% !important;
  }

