  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">

      <div class="wall">
        <h1 class="text-center login-title">Sign up</h1>

        <form ng-submit="submitRegistration(registrationForm)" role="form" ng-init="registrationForm = {}"
              class="form">
          <div class="form-group">
            <input placeholder="Username" type="text" name="username" ng-model="registrationForm.username"
                   required="required" class="form-control"/>
          </div>

          <div class="form-group">
            <input placeholder="Email" type="email" name="email" ng-model="registrationForm.email" required="required"
                   class="form-control"/>
          </div>

          <div class="form-group">
            <input placeholder="Password" type="password" name="password" ng-model="registrationForm.password"
                   required="required" class="form-control"/>
          </div>

          <div class="form-group">
            <input placeholder="Password confirmation" type="password" name="password_confirmation"
                   ng-model="registrationForm.password_confirmation" required="required" class="form-control"/>
          </div>

          <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>


        </form>


      </div>
    </div>
  </div>


