
<uib-carousel interval="myInterval" no-wrap="noWrapSlides" style="margin-top:50px">
  <uib-slide ng-repeat="slide in slides" active="slide.active">

    <div back-img="{{slide.image}}"></div>
    <div class="carousel-caption">
      <h3>{{slide.title}}</h3>
      <p>{{slide.subtitle}}</p>
    </div>
  </uib-slide>
</uib-carousel>
