<div class="modal-header">
  modal header
</div>

<div class="modal-body">
  <form>
    <fieldset class="form-group">
      <input type="text" class="form-control" ng-model="user.name"/>
      <input type="text" class="form-control" ng-model="user.email"/>

    </fieldset>
    <fieldset class="form-group">
      <button class="btn btn-success" ng-click="edit(user)">Edit</button>
    </fieldset>
  </form>
</div>

<div class="modal-footer">
  <div class="btn btn-default" ng-click="exit()"><i class="glyphicon glyphicon-remove"></i></div>
</div>