  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">

      <div class="wall">
        <h1 class="text-center login-title">Reset password</h1>
<form ng-submit="requestPasswordReset(passwordResetForm)" role="form" ng-init="passwordResetForm = {}" class="form">
  <div class="form-group">
    <input  placeholder="Username or email" type="email" name="email" ng-model="passwordResetForm.email" required="required" class="form-control"/>
  </div>

  <button type="submit" class="btn btn-lg btn-primary btn-block">Sent reset email</button>
  <a class="pull-right need-help" href="signup" >Cancel</a>
  <span class="clearfix"></span>
</form>
    </div>
  </div>
</div>

