<table style="height: 400px">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Url</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="slide in slides">
    <td>{{slide.name}}</td>
    <td>{{slide.image}}</td>
    <td><input type="button" class="btn btn-primary" value="Editar" ng-click="abrir(slide)"/></td>
  </tr>
  </tbody>
</table>

<uib-carousel interval="myInterval" no-wrap="noWrapSlides" style="height: 900px">
  <uib-slide ng-repeat="slide in slides" active="slide.active">
    <div back-img="{{slide.image}}" class="fill"></div>
    <div class="carousel-caption">
      <h2>{{slide.name}}</h2>
    </div>
  </uib-slide>
</uib-carousel>





